:root {
    --color-primary: #1baf34;
    --color-secondary: #E2E8F0;
    --font-display:'Poppins', sans-serif!important;
    /* ... */
}
$primary : #1baf34;
$secondary : #E2E8F0;
$font : 'Poppins', sans-serif;

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

*{
    font-family: $font;
}
.h2, .h3, .h5, .h6, .heading, h1, h2, h3, h4, h5, h6{
  font-family: $font!important;
}
.el-select-dropdown__item{
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #eaeef3;
}
.el-select-dropdown__item.selected {
    color: $primary!important;
    font-weight: 600;
}
.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner{
    background-color: $primary;
    border-color: $primary;
}
.el-checkbox__input.is-checked+.el-checkbox__label{
    color: $primary;
}
.el-pagination.is-background .el-pager li:not(.disabled).active{
    background-color:$primary;
}
.el-pagination.is-background .el-pager li:not(.disabled):not(.active):hover{
    color: $primary;
}
.el-checkbox__inner{
    width: 17px;
    height: 17px;
    &::after{
        left: 5.5px;
        top: 2.5px;
    }
}
.header, .main, .footer{
    float: left;
    width: 100%;
}
/*page align*/
.main{
    .main-inner{
        max-width: 1350px;
        margin: 0 auto;
    }
}
/*breadcrumb*/
.breadcrumb {
    font-size: 13px;
    line-height: 1;
    &::after, &::before {
        display: table;
        content: "";
    }
    &::after{
        clear: both;
    }
    &__item {
        float: left;
    }
    &__inner{
        color: #606266;
        font-weight: 400;
    }
    &__separator{
        margin: 0 4px;
        font-weight: 400;
        color: #c0c4cc;
        
    }
}
/*header*/
.header{
    position: relative;
    z-index: 2;
    .header-inner{
        display: flex;
        align-items: center;
        flex-flow: row wrap;
        .header-logo{
            &__img{
                max-width: 130px;
            }
        }
        .header-menu{
            &__item{ 
                font-weight: 500;
                color: #333;
                font-size: 14px;
                &--white{
                    color: white;
                }
            } 
        }
        .header-search{
            position: relative;
            height: 45px;
            display: -webkit-box;
            display: flex;
            -webkit-box-align: stretch;
            align-items: stretch;
            overflow: hidden;
            border-radius: 5px;
            &__input{
                background: #eaeef3;
                padding: 0 0 0 3.5rem;
                &::placeholder{
                    font-size: 14px;
                }
            }
            &__icon{
                position: absolute;
                left: 16px;
                line-height: 45px;
                color: #8c8c8c;
                font-size: 19px;
            }
            &__button{
                background: #56b559;
                color: white;
            }
        }
        .header-bg{
            position: absolute;
            width: 100%;
            left: 0;
            top: 0;
            height: 100%; 
            overflow: hidden;
            z-index: -1;
        }
    }
}
/*.home-search*/
.home-search{
    width: 100%;
    height: 55vh;
    min-height: 515px;
    max-height: 800px;
    position: relative;
    overflow: hidden;
    display: flex;
    .home-search-inner{
        height: 100%;
        padding-top: 110px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        .home-search__box{
            padding: 5rem 4rem;
            border-radius: 5px;
            background: white;
            box-shadow: 0px 0px 20px 20px rgba(156, 156, 156, 0.149);
            .home-search__heading{
                color: #252525;
                font-weight: bold;
                font-size: 22px;
                margin-bottom: 1.5rem;
            }
            .home-search__tour{
                padding-right: 1rem;
                position: relative;
                .el-input__inner{
                    width: 100%;
                    height: 55px;
                    padding: 0 1rem 0 3rem;
                    border-radius: 4px;
                    background: #eaeef3;  
                    &::placeholder{
                        font-size: 14px;
                        color: #a0aec0;
                    }
                }
                .home-search__tour-icon{
                    position: absolute;
                    left: 11px;
                    line-height: 55px;
                    color: #4c4b4b;
                    font-size: 22px;
                }
            }
            .home-search__period{
                padding-right: 1rem; 
                position: relative;
                .home-search__date-icon{
                    position: absolute;
                    left: 11px;
                    line-height: 55px;
                    color: #4c4b4b;
                    font-size: 21px;
                }
                .el-input__inner{
                    width: 100%;
                    height: 55px;
                    padding: 0 1rem 0 3rem;
                    border-radius: 4px;
                    background: #eaeef3;  
                    &::placeholder{
                        font-size: 14px;
                        color: #a0aec0;
                    }
                }
                .el-tag{
                    background-color: #ffffff;
                    border-color: #d1d8e2;
                    font-size: 14px;
                    &--small {
                        height: 35px;
                        padding: 0 16px;
                        line-height: 32px;
                    }
                }
            }
            .home-search__button-wrapper{
                .home-search__button{
                    width: 100%;
                    font-size: 14px;
                    height: 55px;
                    padding: 0 1rem;
                    border-radius: 4px;
                    background: $primary;
                    color: #fff;
                    font-weight: bold;
                }
            }
        }
        
    }
}
/*home-states-list*/
.states-list-heading{
    .states-list-heading__title{
        font-size: 22px;
        color: #252525;
    }
}
.states-list-wrapper{
    width: 100%;
    display: flex ;
    height: 100% ;
    .states-box{
        padding: 0rem 0.4rem; 
        max-width: 20%;
        flex: 0 0 20%;
        display: inline-block;
        &:first-child{
            padding-left: 0;
        }
        &:last-child{ 
            padding-right: 0;
        }
        .states-box__inner{
            overflow: hidden;
            border-radius: 5px;
            position: relative;
            height: 100%;
            box-shadow: 0px 1px 20px 0px #c6d0c9;
            .states-box__link{
                display: inline-block;
                height: 100%;
            }
            .states-box__img-wrapper{
                position: relative;
                height: 100%;
                &::before{
                    content:'';
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.35) 78.22%, #000000 100%);
                    color: #fff;
                    opacity: 0.6;
                }
                .states-box__img{
                    object-fit: cover;
                    object-position: center;
                    width: 100%;
                    height: 100%;
                }
            }
            .states-box__content{
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                padding: 0 1rem;
                height: 20%;
                .states-box__name{
                    font-size: 18px;
                    color: #fff;
                    font-weight: bold;
                    text-align: center;
                }
                .states-box__experienceSum{
                    font-size: 14px;
                    color: #fff;
                    text-align: center;
                }
            }
        }
    }
}
/*state-page*/
.state{
    .state-inner{
        max-width: 1450px;
        margin: 0 auto;
    }
}
.state-wrapper{
    width: 100%;
    clear: both;
    display: inline-block;
    margin: 1rem 0;
    .state-heading{ 
        margin: 0.5rem 0 1rem 0;
        &__title{
            font-weight: 600;
            font-size: 22px;
            color: #252525;
        }
    }
    .state-filter{
        float: left;
    }
    .state-result{
        float: right;
    }
}
.state-filter{
    padding-right: 3rem;
    .state-filter-inner{
        width: 100%;
        overflow: hidden;
        border-radius: 5px;
        position: relative;
        border: 1px solid #eaeef3;
        box-shadow: 0px 1px 10px 0px rgba(198, 208, 201, 0.38);
        background-color: #fff;
    }
    &__heading{
        font-weight: 600;
        font-size: 17px;
        padding: 1rem;
        border-bottom: 1px solid #eaeef3;
        color: #2d2d2d;
    }
    .state-filter-box{
        padding: 1rem;
        border-bottom: 1px solid #eaeef3;
        &__title{
            font-weight: 500;
            margin-bottom: 10px;
            font-size: 14px;
            color: #313030;
        }
        &__item{
            width: 100%;
            display: block;
            margin-bottom: 5px;
            .el-checkbox__label{
                font-weight: 400;
                font-size: 14px;
            }
        }
        &__count{
            padding-left: 5px;
            font-size: 13px;
            color: #bfbfbf;
        }
        &.state-filter-price{
            .price-range{
                width: 90%;
                margin: 0 auto;
                &.disabled{
                    .el-slider__runway, .el-slider__bar{
                        background-color: #d2d4d8;
                    }
                    .el-slider__button-wrapper{
                        left: 0%!important;
                        .el-slider__button{
                            border:2px solid #d2d4d8;
                        }
                        &:last-child{
                            left: 100%!important;
                        }
                    }
                }
            }
            .el-slider__runway{
                margin:10px auto;
                .el-slider__bar{
                    background-color: $primary;
                }
                .el-slider__button{
                    border: 2px solid $primary;
                }
            }
            .price-range-marks{
                &__item{
                    color: #606266;
                    font-size: 14px; 
                    &--max{
                        float: right;
                    }
                }
            }
        }
    }
}
.state-result{
    .state-result-sort{
        width: 100%;
        overflow: hidden;
        border-radius: 5px;
        position: relative;
        border: 1px solid #eaeef3;
        box-shadow: 0px 1px 10px 0px rgba(198, 208, 201, 0.38);
        background-color: #fff;
        margin-bottom: 1rem;
        .state-result-count{
            float: left;
            &__title{
                font-size: 14px;
                color: #5a5a5a;
                padding: 1rem;
            }
            &__title-number{
                font-weight: 500;
            }
        }
        .state-result-sorting{
            float: right;
            &__item{
                color: #2f2f2f;
                float: left;
                font-size: 14px;
                padding: 1rem;
                border-left: 1px solid #eaeef3;
            }
        }
    }
}
/*experience box*/
.experience{
    .experience-heading{
        &__title{
            font-weight: bold;
            font-size: 22px;
            color: #252525;
        }
        &__descr{
            font-size: 15px;
        }
    }
    .experience-all{
        .experience-all__button{
            padding: 0.8rem 1.5rem;
            display: inline-block;
            font-size: 14px;
            border-radius: 5px;
            background: #56b559;
            color: #fff;
            font-weight: 500;
            .experience-all_button-icon{
                font-weight: bold;
                font-size: 13px;
                padding-left: 0.5rem;
            }
        }
    }
}
.experience-wrapper{
    width: 100%;
    display: flex ;
    height: 100% ;
    flex-flow: row wrap;
    margin-left: -0.4rem;
    margin-right: -0.4rem;
    .experience-box{
        padding: 0rem 0.4rem;
        margin-bottom: 1.5rem;
        float: left;
        &.box-size-4{                
            max-width: 25%;
            flex: 0 0 25%;
        }
        &.box-size-3{                
            max-width: 33.333%;
            flex: 0 0 33.333%;
        }
        .experience-box__inner{
            position: relative;
            height: 100%;
            .experience-box__link{
                display: inline-block;
                height: 100%;
            }
            .experience-box-img{
                width: 100%;
                padding-top: 80%;
                overflow: hidden;
                position: relative;
                border-radius: 5px;
                &__wrapper{
                    position: absolute;
                    top: 0px;
                    bottom: 0px ;
                    left: 0px ;
                    right: 0px ;
                    display: flex ;
                    align-items: center;
                    justify-content: center;
                }
                &__item{
                    height: 100%;
                    width: 100%;
                    position: static;
                    object-fit: cover;
                }
            }
            .experience-box-content{
                position: relative;
                padding-top: 0.7rem;
                &__state{
                    color: $primary;
                    font-size: 13px;    
                    padding:0 0 0.2rem 0;
                }
                &__name{
                    font-size: 14px;
                    color: #333;
                    font-weight: 500;
                    text-align: left;
                    width: calc(100% - 60px);
                    display: inline-block;
                    line-height: 1.3;
                }
                &__rating{
                    float: right;
                    width: 50px;
                    color: orange;
                    font-weight: 500;
                    font-size: 13px;
                    text-align: center; 
                }
                &__price{
                    color: #4a4a4a;
                    font-weight: 600;
                    font-size: 15px;
                }
            }
        }
    }
}
/*experience-detail*/
.experience-detail{
    &__subtitle{
        color: #232323;
        font-weight: 600;
        display: block;
        font-size: 1.1rem;
        margin-bottom: 1rem;
    }
    .experience-inner{
        width: 100%;
        max-width: 1450px;
        margin: 0px auto ;
        display: inline-block;
        clear: both;
    }
    .experience-spot{
        padding: 1.5rem 0rem 0 0;  
        background: #eaeef3;
        text-align: center; 
        .experience-gallery{
            width: 100%;
            height: 45vh;
            min-height: 500px;
            max-height: 650px;
            display: -webkit-box;
            display: flex;
        
            &__item{
                padding: 5px;
                width: 100%;
                height: 100%;
                flex: 2 1 0%;
                &:first-child{
                    height: 100%;
                    flex: 3 1 0%;
                }
            }
            &__img{    
                overflow: hidden;
                border-radius: 10px;
                box-shadow: 0px 1px 20px 0px #c6d0c9;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        .experience-header{
            display: flex;
            align-items: flex-end;
            flex-flow: row wrap;
            padding: 0 1rem;
            .experience-info{
                text-align: left;
                margin-bottom: 2rem;
                &__title{
                    font-size: 1.4rem;
                    font-weight: 600;
                }
                &__descr{
                    font-size: 14px;
                    margin-bottom: 0.5rem;
                }
                &__rate{
                    width: 100%;
                    float: left;
                    margin-bottom: 0.3rem;
                    display: flex;
                    align-items: center;
                    flex-flow: row wrap;
                }
                &__rate-number{
                    float: left;
                    i{
                        margin-right: 4px;
                    }
                }
                &__rate-count{
                    font-size: 14px;
                    color: #636363;
                }
                &__location{
                    float: left;
                    border-radius: 4px;
                    padding: 0.5rem 1rem;
                    margin-top: 5px;
                    color: black;
                    font-size: 13px;
                    font-weight: 600;
                    display: inline-flex;
                    align-items: center;
                    border:1px solid #bbc3ce;
                    .experience-location__icon{
                        font-size: 18px;
                        padding-right: 5px;
                    }
                }
            }
        }
    }
    .experience-content{
        padding: 2rem 0rem;
        text-align: center;
        .experience-reservation{
            z-index: 2;
            position: relative;
            background: #fff;
            border: 1px solid #eaeef3;
            padding: 2rem;
            border-top-right-radius: 9px;
            border-top-left-radius: 9px;
            margin-top: -7rem;
            &__date{
                margin-bottom: 1.5rem;
                text-align: left;
                label{
                    font-weight: 600;
                    font-size: 14px;
                    padding-bottom: 5px;
                    display: block;
                }
                .el-select{
                    width: 100%;
                }
            }
            &__price{
                font-size: 16px;
                text-align: left;
                margin-bottom: 0.5rem;
                span{
                    font-weight: 400;
                    font-size: 14px;
                    padding-left: 5px;
                }
                strong{
                    font-size: 25px;
                }
            }   
            &__person-number{
                text-align: left;
                margin-bottom: 1.5rem;
                label{
                    font-weight: 600;
                    font-size: 14px;
                    padding-bottom: 5px;
                    display: block; 
                }
                .el-dropdown, .el-button{
                    width: 100%;
                    text-align: left;
                }
                .el-icon--right{
                    float: right;
                }
            }
            &__button{
                width: 100%; 
                height: 50px;
                padding: 0px 2rem;
                border-radius: 4px;
                background: $primary;
                box-shadow: 0px 0px 20px 0px rgba(27, 175, 52, 0.5);
                color: #fff;
                font-size: 15px;
                font-weight: 500;
                letter-spacing: 0.5px;
            }
        }
        .experience-labels{
            text-align: left;
            float: left;
            padding: 0 1rem;
            width: 100%;
            margin-bottom: 3rem;
            .label-box{
                padding:0 0.5rem;
                float: left;
                &__inner{
                    border-radius: 9px;
                    padding: 1rem;
                    border: 1px solid #EBEEF5;
                    background-color: #FFF;
                    color: #303133;
                    -webkit-transition: .3s;
                    transition: .3s;   
                    display: inline-block;
                }
                &__icon{
                    color: #666f7b;
                    font-size: 30px;
                }
                &__text{
                    font-size: 14px;
                    margin-bottom: 0.2rem;
                }
                &__data{
                    font-size: 15px;
                    font-weight: 500;
                }
            }
        }
        .experience-plan{
            display: inline-block;
            width: 100%;
            padding: 0 1rem;
            text-align: left;
            margin-bottom: 4rem;
            &__descr{
                font-size: 15px;
                color: #4c4c4c;
                padding: 0 1rem;
                line-height: 2;
            }
        }
        .experience-program{
            display: inline-block;
            width: 100%;
            padding: 0 1rem;
            text-align: left;
            margin-bottom: 4rem;
            .program-content{
                padding: 15px 1rem 0 1rem;
                .el-timeline-item{
                    padding-bottom: 2rem;
                    &:last-child{
                        padding-bottom: 0rem;
                    }
                }
                .el-timeline-item__timestamp {
                    color: #353638;
                    line-height: 1;
                    font-size: 15px;
                    font-weight: 500;
                    padding-top: 0;
                    margin-bottom: 1rem;
                }
                .program-box{
                    width: 100%;
                    display: inline-block;
                    &__photo{
                        float: left;
                        border-radius: 9px;
                        overflow: hidden;
                    }
                    &__content{
                        float: left;
                        padding: 2rem;
                    }
                    &__title{
                        font-size: 17px;
                        font-weight: 500;
                        margin-bottom: 0.5rem;
                    }
                    &__descr{
                        font-size: 14px;
                        color: #4c4c4c;
                    }
                }
            }
        }
        .experience-includedprice{
            display: inline-block;
            width: 100%;
            padding: 0 1rem;
            text-align: left;
            margin-bottom: 4rem;
            .includedprice-content{
                color: #4c4c4c;
                font-size: 15px;
                padding: 0 1rem;
            }
        }
        .experience-needs{
            display: inline-block;
            width: 100%;
            padding: 0 1rem;
            text-align: left;
            margin-bottom: 4rem;
            .needs-content{
                font-size: 15px;
                color: #4c4c4c;
                padding: 0 1rem;
                &__item{
                    padding: 0.7rem 1.2rem;
                    border: 1px solid #ebeef5;
                    border-radius: 9px;
                    float: left;
                    margin-right: 1rem;
                    font-size: 14px;
                }
            }
        }
        .experience-excludedprice{
            display: inline-block;
            width: 100%;
            padding: 0 1rem;
            text-align: left;
            margin-bottom: 4rem;
            .excludedprice-content{
                font-size: 15px;
                color: #4c4c4c;
                padding: 0 1rem;
            }
        }
        .experience-guest-photos{
            display: inline-block;
            width: 100%;
            padding: 0 1rem;
            text-align: left;
            margin-bottom: 4rem;
            .photos-content{
                font-size: 15px;
                color: #4c4c4c;
                padding: 0 1rem;
                display: flex;
                flex-flow: row wrap;
                &__item{
                    border: 5px solid white;
                    border-radius: 9px;
                    overflow: hidden;
                }
                &__photo{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
        .experience-rating{
            display: inline-block;
            width: 100%;
            padding: 0 1rem;
            text-align: left;
            margin-bottom: 4rem;
            &__title{
                .experience-detail__subtitle{
                    margin-bottom: 0px;
                }
            }
            &__rateInfo{
                margin-bottom: 1rem;    
                display: flex;
                align-items: center;
                flex-flow: row wrap;
                .experience-info__rate-number{
                    float: left;
                }
                .experience-info__rate-count{
                    font-size: 14px;
                    color: #636363;
                }
            }
            .rating-content{
                color: #4c4c4c;
                padding: 0 1rem;
                display: flex;
                flex-flow: row wrap;
                .rating-box{
                    padding: 1.5rem 2rem;
                    border: 1px solid #ebeef5;
                    border-radius: 9px;
                    float: left;
                    margin-bottom: 1rem;
                    &__header{
                        float: left;
                        display: flex;
                        align-items: center;
                        flex-flow: row wrap;
                    }
                    &__avatar{
                        float: left;
                    }
                    &__user-info{
                        float: left;
                        padding-left: 2rem;
                    }
                    &__avatar{
                        .el-avatar{
                            background-color: $primary;
                        }
                    }
                    &__user-name{
                        color: #303133;
                        font-size: 17px;
                        font-weight: 600;
                    }
                    &__date{
                        color: #b9b9b9;
                        font-size: 14px;
                    }
                    &__content{
                        float: left;
                        margin-top: 1.5rem;
                    }
                    &__title{
                        color: #303133;
                        font-size: 15px;
                        font-weight: 600;
                        margin-bottom: 0.4rem;
                    }
                    &__descr{
                        color: #4c4c4c;
                        font-size: 14px;
                    }
                }
            }
        }
        .experience-location{
            display: inline-block;
            width: 100%;
            padding: 0 1rem;
            text-align: left;
            margin-bottom: 4rem;
            .location-content{
                font-size: 15px;
                color: #4c4c4c;
                padding: 0 1rem;
                display: flex;
                flex-flow: row wrap;
            }
        }
        .experience-notes{
            display: inline-block;
            width: 100%;
            padding: 0 1rem;
            text-align: left;
            margin-bottom: 4rem;
            .notes-content{
                font-size: 15px;
                color: #4c4c4c;
                padding: 0 1rem;
                display: flex;
                flex-flow: row wrap;
            }
        }
        .experience-similar{
            display: inline-block;
            width: 100%;
            padding: 0 1rem;
            text-align: left;
            margin-bottom: 4rem;
            .similar-content{
                font-size: 15px;
                color: #4c4c4c;
                padding: 0 1rem;
                display: flex;
                flex-flow: row wrap;
            }
        }
    }
}
