:root {
    --color-primary: #1baf34;
    --color-secondary: #E2E8F0;
    --font-display:'Poppins', sans-serif!important;
    /* ... */
}
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

*{
    font-family: 'Poppins', sans-serif;
}
.h2, .h3, .h5, .h6, .heading, h1, h2, h3, h4, h5, h6{
  font-family: 'Poppins', sans-serif!important;
}
.header, .main, .footer{
    float: left;
    width: 100%;
}
.header{
    position: relative;
    z-index: 2;
    .header-inner{
        display: flex;
        align-items: center;
    }
    .header-menu__item{ 
        color: #fff;
        font-weight: bold;
    }
}
.home-slide{
    width: 100%;
    height: 55vh;
    min-height: 515px;
    max-height: 800px;
    margin-top: -106px;
    position: relative;
    overflow: hidden;
    display: flex;
    .home-slide__img{
        height: 100% ;
        width: 100% ;
        position: absolute;
        object-fit: cover;
        object-position: top;
    }
    .home-slide-inner{
        height: 100%;
        padding-top: 110px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        .home-slide__search-box{
            background: white;
            padding: 2rem 2rem;
            border-radius: 5px;
        }
    }
}
.home-slide__search-box{
    .home-slide__seach-heading{
        color: #1baf34;
        font-weight: bold;
        font-size: 25px;
        margin-bottom: 1.5rem;
    }
    .home-slide__search-tour{
        padding-right: 1rem;
        .home-slide__tour-input{
            width: 100%;
            height: 60px;
            padding: 0 1rem;
            border-radius: 4px;
            background: #e1e4f3;
        }
    }
    .home-slide__search-period{
        padding-right: 1rem; 
        .home-slide__period-input{
            width: 100%;
            height: 60px;
            padding: 0 1rem;
            border-radius: 4px;
            background: #e1e4f3;
        }
    }
    .home-slide__search-button{
        .home-slide__button{
            width: 100%;
            height: 60px;
            padding: 0 1rem;
            border-radius: 4px;
            background: #1baf34;
            color: #fff;
            font-weight: bold;
        }
    }
}
.states-heading{
    .states-heading_title{
        font-size: 22px;
        color: #252525;
    }
}
.states-wrapper{
    width: 100%;
    display: flex ;
    height: 100% ;
    .states-box{
        padding: 0rem 0.4rem; 
        max-width: 20%;
        flex: 0 0 20%;
        display: inline-block;
        &:first-child{
            padding-left: 0;
        }
        &:last-child{ 
            padding-right: 0;
        }
        .states-box__inner{
            overflow: hidden;
            border-radius: 5px;
            position: relative;
            height: 100%;
            box-shadow: 0px 1px 20px 0px #c6d0c9;
            .states-box__link{
                display: inline-block;
                height: 100%;
            }
            .states-box__img-wrapper{
                position: relative;
                height: 100%;
                &::before{
                    content:'';
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.35) 78.22%, #000000 100%);
                    color: #fff;
                    opacity: 0.6;
                }
                .states-box__img{
                    object-fit: cover;
                    object-position: center;
                    width: 100%;
                    height: 100%;
                }
            }
            .states-box__content{
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                padding: 0 1rem;
                height: 20%;
                .states-box__name{
                    font-size: 18px;
                    color: #fff;
                    font-weight: bold;
                    text-align: center;
                }
                .states-box__toursSum{
                    font-size: 14px;
                    color: #fff;
                    text-align: center;
                }
            }
        }
    }
}
.tours{
    .tours-heading{
        .tours-heading_title{
            font-size: 22px;
            color: #252525;
        }
    }
    .tours-all{
        .tours-all__button{
            padding: 1rem 2rem;
            display: inline-block;
            border-radius: 5px;
            background: #8f9d89;
            color: #fff;
            font-weight: 500;
            .tours-all_button-icon{
                font-weight: bold;
                font-size: 13px;
                padding-left: 0.5rem;
            }
        }
    }
}
.tours-wrapper{
    width: 100%;
    display: flex ;
    height: 100% ;
    flex-flow: row wrap;
    .tours-box{
        padding: 0rem 0.4rem;
        max-width: 25%;
        flex: 0 0 25%;
        display: inline-block;
        margin-bottom: 1.5rem;
        .tours-box__inner{
            position: relative;
            height: 100%;
            .tours-box__link{
                display: inline-block;
                height: 100%;
            }
            .tours-box__img-wrapper{
                width: 100%;
                height: 75% ;
                display: flex;
                position: relative;
                overflow: hidden;
                border-radius: 5px;
                .tours-box__img-flex{
                   max-width: 100%;
                   -webkit-box-flex: 0;
                   flex: 0 0 100%;
                   .tours-box__img{
                        object-fit: cover;
                        object-position: center;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .tours-box__content{
                position: relative;
                padding-top: 0.7rem;
                .tours-box__state{
                    color: #1baf34;
                    font-size: 14px;    
                    padding: 0.1rem 0 0.4rem 0;
                }
                
                .tours-box__name{
                    font-size: 16px;
                    color: #333;
                    font-weight: 500;
                    text-align: left;
                    width: calc(100% - 50px);
                    display: inline-block;
                }
                .tours-box__rating{
                    float: right;
                    width: 50px;
                    color: orange;
                    font-weight: 500;
                    font-size: 15px;
                    text-align: center;
                }
                .tours-box__price{
                    color: #2b2b2b;
                    font-weight: 500;
                    font-size: 15px;
                }
            }
        }
    }
}